.rtl {
    direction: rtl;
    text-align: right;
}

body {
    direction: rtl;
    margin: 0px;
    padding: 0px;
}

.mainMenu {
    background-color: #616161;
    height: 47px;
    margin: 0px;
    padding: 0px;
}

    .mainMenu > .nav-items {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .mainMenu > .nav-items > .nav-item {
            float: right; /* padding: 20px 40px; */
            position: relative;
        }

            .mainMenu > .nav-items > .nav-item > .nav-link {
                text-decoration: none;
                color: white;
                display: block;
                padding: 11px 30px;
                position: relative;
            }

                .mainMenu > .nav-items > .nav-item > .nav-link:after {
                    width: 0%;
                    height: 3px;
                    background-color: red;
                    content: ' ';
                    font-size: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    position: absolute;
                    margin: 0px auto;
                }

                .mainMenu > .nav-items > .nav-item > .nav-link:hover:after {
                    transition: all .5s;
                    width: 100%;
                }

.amazing-products {
    float: left !important;
    background-color: #4d4d4d;
    margin-left: 60px;
}

.pic {
    width: 100%;
    height: 400px;
}

.layer-2 {
    display: none;
    /* border:5px solid red; */
    width: 70vw;
    height: 40vh;
    /* height: 400px; */
    position: absolute;
    background-color: white;
    box-shadow: -1px 0px 4px 4px #93939338;
}

.mainMenu > .nav-items > .nav-item:hover > .layer-2 {
    display: block;
}

.logo {
}

.searchContainer {
}

    .searchContainer input {
        width: 90%;
        margin: 0px;
        box-sizing: border-box;
        padding: 8px 12px;
        border-left-style: none !important;
        border-top: 1px solid #d5dadd !important;
        border-right: 1px solid #d5dadd !important;
        border-bottom: 1px solid #d5dadd !important;
        outline: none;
        margin-left: -5px;
        border-left-style: none;
        background-color: #eceff1;
        border: 1px solid;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .searchContainer .btnSearch {
        margin: 0px;
        background-color: #ef5661;
        padding: 10px 28px;
        border-style: none;
        border-top-left-radius: 7px;
        outline: none;
        border-bottom-left-radius: 7px;
    }

    .searchContainer .searchIcon {
        color: white;
    }

.btnLoginRegister {
    /* border-style: none; */
    background-color: white;
    border: 1px solid black;
    width: 70%;
    color: #fa7a50;
    font-size: 16px;
    font-weight: 600;
    outline: none !important;
    border-style: none !important;
    /* border-top: 1px solid #fa7a50 !important; */
}

.profile {
}

.profile-items {
    list-style: none;
    padding: 0px;
}

    .profile-items li {
        /* padding: 0px 0px; */
        padding-bottom: 5px;
    }

.profile .loginRow {
    padding-bottom: 9px;
    padding-right: 10px;
}

.profile-items .spnNewUser {
    color: #343a40;
    font-size: 14px;
    font-weight: 600;
}

.profile .lnkRegister {
    color: #008ec9;
    border-bottom: 1px dashed #008ec9;
    font-size: 14px;
    display: inline-block;
    padding-right: 3px;
}

.profile .btnLogin {
    text-decoration: none;
    display: inline-block;
    background-color: #2CA8FF;
    color: white;
    padding: 9px 14px;
    text-align: center;
    border-radius: 5px;
}

.profile .profileIcon {
}

.profile .lnkProfile {
    color: #6f6f6f;
    font-size: 14px;
}

.loginRegisterBox {
    width: 70%;
    background-color: white !important;
    border-top: 3px solid #fa7a50 !important;
}

.profile .loginRow:hover {
    background-color: #f5f7fa;
}
.loginRegisterBox:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0de";
    color :#fa7a50;
    font-size:18px;
    position :absolute;
    top:-10px;
    left : 30px;
}